
<h2>Sign up</h2>

<form method="post" id="signup-form" action="/signuo">
    <input type="text" name="name" placeholder="name" ><br>
    <br>
    <input type="text" name="uname" placeholder="username" ><br>
    <br>
    <input type="text" name="email" placeholder="email" ><br>
    <br>
    <input type="text" name="mob" placeholder="mobile number" ><br>
    <br>
    <input type="password" name="pwd" placeholder="password" ><br>
    <br>
    <input type="password" name="cpwd" placeholder="confirm password" ><br>
    <br>
    <input type="submit" value="submit">
</form>